.dashboard-bar-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: var(--mcp-color-surface-primary-light);
  border-radius: var(--sds-size-radius-400);
  box-shadow: var(--sds-effects-shadows-drop-shadow-600);
  overflow: hidden;
}
