.dashboard-bar-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--sds-color-background-primary);
  border-radius: var(--sds-size-radius-400);
  box-shadow: var(--sds-effects-shadows-elevation-high);
  width: 560px;
  overflow: hidden;
}
