.graph-header {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-600);
  align-items: flex-start;
  justify-content: center;
  padding-top: var(--sds-size-space-800);
  width: 100%;
}

.graph-header-content {
  display: flex;
  align-items: center;
  gap: var(--sds-size-space-600);
  padding-inline: var(--sds-size-space-800);
  width: 100%;
  justify-content: space-between;
}

.graph-header-title {
  font: var(--mcp-font-title-text);
  color: var(--mcp-color-foreground-primary-dark);
}
