.ai-button {
  --ai-button-border-width: 2px;
  --ai-button-icon-color: #0f1e3d;
  --ai-button-border-color: #0f1e3d;
  --ai-button-border-radius: var(--sds-size-radius-full);
  --ai-button-background: var(--mcp-color-foreground-primary-light);

  align-items: center;
  background: var(--ai-button-background);
  border: var(--ai-button-border-width) solid var(--ai-button-border-color);
  border-radius: var(--ai-button-border-radius);
  cursor: pointer;
  display: inline-flex;
  font: var(--mcp-font-small-body);
  gap: var(--sds-size-space-100);
  justify-content: center;
  line-height: 1.43;
  overflow: clip;
  padding: var(--sds-size-space-200) var(--sds-size-space-600);
  position: relative;
  white-space: nowrap;

  > .icon {
    --icon-color: var(--ai-button-icon-color);
    color: var(--ai-button-icon-color);
  }
}

.ai-button-text {
  background: var(--mcp-color-surface-primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai-button[data-hovered]:not([data-disabled]) {
  --ai-button-background: var(--mcp-color-surface-primary-muted);
}

.ai-button[data-pressed]:not([data-disabled]) {
  --ai-button-background: var(--mcp-color-surface-primary-muted);
}

.ai-button[data-focus-visible] {
  outline: none;
  --offset: calc(var(--ai-button-border-width) + var(--sds-size-stroke-border));

  &::before {
    content: "";
    border-radius: calc(var(--ai-button-border-radius) + var(--offset));
    bottom: calc(-1 * var(--offset));
    box-shadow: 0 0 0 var(--global-focus-ring-size)
      var(--global-focus-ring-color);
    left: calc(-1 * var(--offset));
    position: absolute;
    right: calc(-1 * var(--offset));
    top: calc(-1 * var(--offset));
  }
}

.ai-button[data-disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.ai-button-size-small {
  font: var(--sds-font-body-small);
  padding: var(--sds-size-space-100) var(--sds-size-space-400);

  > .icon {
    --icon-diameter: var(--sds-typography-scale-02);
  }
}

.ai-button-size-medium {
  font: var(--mcp-font-small-body);
  padding: var(--sds-size-space-200) var(--sds-size-space-600);

  > .icon {
    --icon-diameter: 2rem;
  }
}
